/* ==========================================================================
   General page layout for site
   ========================================================================== */

.container{
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	@media (min-width: 1200px) {
		width: 1170px;
	}
	&:before, &:after {
	    content: ' ';
	    display: table;
	}
	&:after {
	    clear: both;
	}
}

main, aside.sidebar{
	padding-bottom: 4em;
}

.container.two-col{
	main{
		width: 60%;
		float: left;
	}
	aside.sidebar{
		width: 35%;
		float: right;
	}
}

.container.full-width{
	aside.sidebar{
		.sidebar-widget{
			width: 48%;
			float: left;
			+ .sidebar-widget{
				width: 48%;
				float: right;
			}
		}
		&:before, &:after {
		    content: ' ';
		    display: table;
		}
		&:after {
		    clear: both;
		}
	}
}
