/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* ==========================================================================
   Global Variables
   ========================================================================== */
/* ======================= Colours ======================== */
/* ======================= Misc ======================== */
/* ======================= Links/Type ======================== */
/* ======================= Buttons ======================== */
/* ======================= Forms ======================== */
/* ======================= Tables ======================== */
/* ======================= Defaults ======================== */
/* ======================= Responsive ======================== */
/* ==========================================================================
   Helper Classes
   ========================================================================== */
.g-text-uppercase {
  text-transform: uppercase;
}

.g-font-size-small {
  font-size: 0.9em;
  line-height: 1.4em;
}

.g-font-size-smaller {
  font-size: 0.8em;
  line-height: 1.4em;
}

.g-font-size-smallest {
  font-size: 0.7em;
  line-height: 1.4em;
}

.g-font-size-large {
  font-size: 1.2em;
  line-height: 1.4em;
}

.g-font-size-larger {
  font-size: 1.3em;
  line-height: 1.4em;
}

.g-font-size-largest {
  font-size: 1.4em;
  line-height: 1.4em;
}

.g-text-color-primary {
  color: #333;
}

.g-text-color-light {
  color: #b4b4b4;
}

.g-text-color-white {
  color: #fff;
}

.g-text-color-dark {
  color: #000;
}

.g-font-normal {
  font-weight: 300px;
}

.g-font-bold {
  font-weight: 700;
}

a.g-link-secondary {
  text-decoration: none;
}
a.g-link-secondary:hover, a.g-link-secondary:focus {
  text-decoration: none;
}

a.g-link-color-secondary {
  color: #fff;
}
a.g-link-color-secondary:hover, a.g-link-color-secondary:focus, a.g-link-color-secondary:active, a.g-link-color-secondary.g-active {
  color: #f2f2f2;
}

.transition, a, .g-btn, button.g-btn, .g-form-control, .g-pagination a, table.g-table.g-table-hover > tbody > tr:hover, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.transition2 {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.transition3 {
  -webkit-transition: all 0.7s ease-in;
  -moz-transition: all 0.7s ease-in;
  -o-transition: all 0.7s ease-in;
  transition: all 0.7s ease-in;
}

.box-shadow {
  -webkit-box-shadow: 1px 1px 2px #666;
  box-shadow: 1px 1px 2px #666;
}

.border-radius {
  border-radius: 0;
}

.background-gradient {
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.9), transparent, transparent);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.9), transparent, transparent);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.9), transparent, transparent);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9), transparent, transparent);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.9), transparent, transparent);
}

.background-gradient2 {
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.7), transparent);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.7), transparent);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.7), transparent);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7), transparent);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.7), transparent);
}

.g-bg-color-primary {
  background-color: #fff;
}

.g-bg-color-secondary {
  background-color: #f4f4f4;
}

.g-bg-color-tertiary {
  background-color: #f9f9f9;
}

.g-pull-right {
  float: right;
}

.g-pull-left {
  float: left;
}

.g-text-right {
  text-align: right;
}

.g-text-left {
  text-align: left;
}

.g-text-center {
  text-align: center;
}

.g-clearfix:before, .g-clearfix:after {
  content: " ";
  display: table;
}
.g-clearfix:after {
  clear: both;
}

.g-image-responsive {
  max-width: 100%;
}

.g-hidden {
  display: none;
}

@media (max-width: 480px) {
  .g-xs-hidden {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 920px) {
  .g-sm-hidden {
    display: none;
  }
}

@media (min-width: 921px) {
  .g-lg-hidden {
    display: none;
  }
}

/* ==========================================================================
   Global Mixins
   ========================================================================== */
/*
	Theme Name: HTML5 Blank
	Theme URI: http://html5blank.com
	Description: HTML5 Blank WordPress Theme
	Version: 1.4.3
	Author: Todd Motto (@toddmotto)
	Author URI: http://toddmotto.com
	Tags: Blank, HTML5, CSS3

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/
/*------------------------------------*\
    MAIN
\*------------------------------------*/
/* clear */
.clear:before,
.clear:after {
  content: ' ';
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

/*------------------------------------*\
    MISC
\*------------------------------------*/
::selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none;
}

::-webkit-selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none;
}

::-moz-selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #FFF;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption .wp-caption-text,
.gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/*------------------------------------*\
    PRINT
\*------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==========================================================================
   General Styling
   ========================================================================== */
*, *:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  line-height: 1.5em;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
body b, body strong {
  font-weight: 700;
}
@media (max-width: 480px) {
  body {
    font-size: 90%;
  }
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input:focus {
  outline: 0;
  border: 1px solid #04A4CC;
}

a {
  color: #903A3A;
  text-decoration: underline;
  cursor: pointer;
}
a:visited {
  color: #592424;
}
a:hover, a:focus, a:active {
  color: #6c2b2b;
  outline: 0;
}
a.g-disabled {
  opacity: .5;
  pointer-events: none;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 1em 0;
}

p {
  margin-bottom: 1em;
}

ul, ol {
  margin: 0 0 1em 0;
}
ul li, ol li {
  margin-bottom: 0.5em;
}
ul ul, ul ol, ol ul, ol ol {
  margin: 0.5em 0 0 0;
}

/* ==========================================================================
   Buttons
   ========================================================================== */
.g-btn, button.g-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 0;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #903A3A;
  border: 1px solid #903A3A;
  border-radius: 0;
  font-family: "Lato", sans-serif;
  color: #fff;
  text-decoration: none;
  outline: none;
}
.g-btn.g-btn-block, button.g-btn.g-btn-block {
  width: 100%;
}
.g-btn.g-btn-sm, button.g-btn.g-btn-sm {
  padding: 8px 15px;
  font-size: 12px;
  line-height: 12px;
}
.g-btn.g-btn-lg, button.g-btn.g-btn-lg {
  padding: 15px 25px;
  font-size: 15px;
  line-height: 15px;
}
.g-btn:hover, .g-btn:focus, button.g-btn:hover, button.g-btn:focus {
  text-decoration: none;
  background-color: #7e3333;
  border: 1px solid #7e3333;
  color: #fff;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.g-btn:active, .g-btn.g-active, button.g-btn:active, button.g-btn.g-active {
  text-decoration: none;
  background-color: #6c2b2b;
  border: 1px solid #6c2b2b;
  color: #fff;
}
.g-btn.g-btn-secondary, button.g-btn.g-btn-secondary {
  background-color: #333;
  border: 1px solid #333;
  color: #fff;
}
.g-btn.g-btn-secondary:hover, .g-btn.g-btn-secondary:focus, button.g-btn.g-btn-secondary:hover, button.g-btn.g-btn-secondary:focus {
  background-color: #262626;
  border: 1px solid #262626;
  color: #fff;
}
.g-btn.g-btn-secondary:active, .g-btn.g-btn-secondary.g-active, button.g-btn.g-btn-secondary:active, button.g-btn.g-btn-secondary.g-active {
  background-color: #1a1a1a;
  border: 1px solid #1a1a1a;
  color: #fff;
}
.g-btn.g-btn-tertiary, button.g-btn.g-btn-tertiary {
  background-color: #fff;
  border: 1px solid #903A3A;
  color: #903A3A;
}
.g-btn.g-btn-tertiary:hover, .g-btn.g-btn-tertiary:focus, button.g-btn.g-btn-tertiary:hover, button.g-btn.g-btn-tertiary:focus {
  background-color: #903A3A;
  border: 1px solid #903A3A;
  color: #fff;
}
.g-btn.g-btn-tertiary:active, .g-btn.g-btn-tertiary.g-active, button.g-btn.g-btn-tertiary:active, button.g-btn.g-btn-tertiary.g-active {
  background-color: #7e3333;
  border: 1px solid #7e3333;
  color: #fff;
}
.g-btn.g-btn-quaternary, button.g-btn.g-btn-quaternary {
  background-color: #fff;
  border: 1px solid #333;
  color: #333;
}
.g-btn.g-btn-quaternary:hover, .g-btn.g-btn-quaternary:focus, button.g-btn.g-btn-quaternary:hover, button.g-btn.g-btn-quaternary:focus {
  background-color: #333;
  border: 1px solid #333;
  color: #fff;
}
.g-btn.g-btn-quaternary:active, .g-btn.g-btn-quaternary.g-active, button.g-btn.g-btn-quaternary:active, button.g-btn.g-btn-quaternary.g-active {
  background-color: #262626;
  border: 1px solid #262626;
  color: #fff;
}
.g-btn.g-disabled, button.g-btn.g-disabled {
  opacity: .45;
  pointer-events: none;
}

.g-btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.g-btn-group .g-btn {
  border-radius: 0;
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
.g-btn-group :first-child {
  border-radius: 0 0 0 0;
  margin-left: 0;
}
.g-btn-group :last-child {
  border-radius: 0 0 0 0;
  border-right: none;
}

.g-btn-toggle {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.g-btn-toggle .g-btn {
  border-radius: 0;
  float: left;
}
.g-btn-toggle :first-child {
  border-radius: 0 0 0 0;
  margin-left: 0;
}
.g-btn-toggle :last-child {
  border-radius: 0 0 0 0;
  margin-left: -1px;
}

.g-input-btn {
  position: relative;
}
.g-input-btn .g-form-control {
  padding-right: 100px;
}
.g-input-btn .g-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* ==========================================================================
   Global Footer
   ========================================================================== */
.footer {
  background-color: #333;
  padding: 2em 0;
}
.footer a {
  color: #fff;
}

/* ==========================================================================
   Global Forms
   ========================================================================== */
form {
  margin-bottom: 20px;
}
form .g-error-state input {
  border: 1px solid #C36C11;
}
form .g-error-state input:focus {
  border: 1px solid #C36C11;
}
form .g-error-state p {
  color: #C36C11;
  margin-top: 5px;
}
form .g-form-group {
  margin-bottom: 20px;
}
form .g-form-group.g-sm {
  margin-bottom: 8px;
}
form label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
form .g-hidden-labels label {
  display: none;
}
form .g-hidden-labels.g-inline-form .g-form-control {
  margin-left: 0;
}
form .g-inline-form .g-form-control {
  display: inline-block;
  width: auto;
  margin: 0 10px 0 5px;
}
form .g-inline-form .g-form-group {
  display: inline-block;
}
form .g-inline-form .g-radio-heading, form .g-inline-form .g-checkbox-heading, form .g-inline-form .g-radio-container .g-radio {
  display: inline;
}
form .g-inline-form .g-radio-heading, form .g-inline-form .g-checkbox-heading {
  margin-right: 5px;
}
form .g-inline-form .g-checkbox input[type=checkbox] + label, form .g-inline-form .g-radio-container .g-radio-label {
  display: inline-block;
  margin-right: 10px;
}
form .g-form-horizontal .g-form-group, form .g-form-horizontal .g-radio-container .g-radio-label {
  display: block;
  text-align: left;
  margin-top: 0;
}
form .g-form-horizontal .g-inline-form .g-radio-container .g-radio-label, form .g-form-horizontal .g-inline-form .g-checkbox input[type=checkbox] + label {
  display: inline;
}
form .g-form-horizontal label {
  margin-top: 6px;
}
form .g-form-horizontal label, form .g-form-horizontal .g-radio-heading, form .g-form-horizontal .g-checkbox-heading {
  text-align: right;
  display: block;
}
@media (max-width: 920px) {
  form .g-form-horizontal label, form .g-form-horizontal .g-radio-heading, form .g-form-horizontal .g-checkbox-heading {
    text-align: left;
  }
}
form .g-form-horizontal .g-checkbox label, form .g-form-horizontal .g-radio label {
  text-align: left;
}

.g-form-control {
  display: block;
  width: 100%;
  padding: 5px 15px;
  font-size: 17px;
  line-height: 23.8px;
  border: 1px solid #ddd;
  border-radius: 0;
  color: #757575;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.g-form-control:focus {
  border-color: #b4b4b4;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.g-form-control ::-webkit-input-placeholder, .g-form-control :-moz-placeholder, .g-form-control ::-moz-placeholder, .g-form-control :-ms-input-placeholder {
  color: #ddd;
}

select.g-form-control {
  padding-right: 35px;
  font-weight: bold;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: url(/img/dropdown-arrows.png) no-repeat right #ffffff;
  cursor: pointer;
}

.g-checkbox {
  color: #757575;
}
.g-checkbox input[type=checkbox] {
  display: none;
}
.g-checkbox input[type=checkbox] + label {
  position: relative;
  line-height: 25px;
  cursor: pointer;
  font-weight: normal;
  display: block;
  margin: 0 0 5px;
}
.g-checkbox input[type=checkbox] + label:before {
  content: ' ';
  font-size: 20px;
  text-rendering: auto;
  border: 1px solid #ddd;
  height: 20px;
  width: 20px;
  display: inline-block;
  padding: 0 0 0 0px;
  top: 0;
  position: absolute;
  cursor: pointer;
}
.g-checkbox input[type=checkbox] + label span {
  cursor: pointer;
  margin-left: 30px;
}
.g-checkbox input[type=checkbox]:checked + label:before {
  content: "\2713";
  color: #903A3A;
  border: 1px solid #ddd;
  height: 20px;
  width: 20px;
  font-size: 25px;
  line-height: 20px;
  display: inline-block;
  padding: 0 0 0 0px;
  top: 0;
  position: absolute;
}

.g-radio-heading, .g-checkbox-heading {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.g-radio-container .g-radio {
  opacity: 0;
  position: absolute;
}
.g-radio-container .g-radio, .g-radio-container .g-radio-label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.g-radio-container .g-radio-label {
  position: relative;
  color: #757575;
  font-weight: normal;
  line-height: 25px;
}
.g-radio-container .g-radio + .g-radio-label:before {
  content: '';
  background: #fff;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 1px;
  margin-right: 10px;
  text-align: center;
}
.g-radio-container .g-radio + .g-radio-label:before {
  border-radius: 50%;
}
.g-radio-container .g-radio:checked + .g-radio-label:before {
  background: #903A3A;
  box-shadow: inset 0px 0px 0px 3px #fff;
}

/* ==========================================================================
   Global Header
   ========================================================================== */
/* ==========================================================================
   Pagination
   ========================================================================== */
.g-pagination a {
  display: inline-block;
  width: 2.4em;
  height: 2.4em;
  margin: 0 0.2em;
  border-radius: 50%;
  background-color: #903A3A;
  border: 1px solid #903A3A;
  color: #fff;
  text-align: center;
  line-height: 2.2em;
  text-decoration: none;
}
.g-pagination a.g-active {
  background-color: #fff;
  color: #903A3A;
  border: 1px solid #903A3A;
  pointer-events: none;
}
.g-pagination a:hover {
  background-color: #6c2b2b;
  border: 1px solid #6c2b2b;
  text-decoration: none;
}
.g-pagination a:first-child {
  margin-left: 0;
}
.g-pagination a:last-child {
  margin-right: 0;
}

/* ==========================================================================
   Tables
   ========================================================================== */
table.g-table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
table.g-table thead, table.g-table tbody, table.g-table tfoot, table.g-table tr, table.g-table th, table.g-table td {
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: inherit;
  border-spacing: 0;
  border-color: inherit;
  vertical-align: top;
  text-align: left;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}
table.g-table tbody {
  font-weight: normal;
  font-weight: inherit;
}
table.g-table.g-table-striped thead, table.g-table.g-table-striped tbody, table.g-table.g-table-striped tfoot, table.g-table.g-table-striped tr, table.g-table.g-table-striped th, table.g-table.g-table-striped td {
  padding: 5px 10px;
}
table.g-table.g-table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
table.g-table.g-table-bordered td, table.g-table.g-table-bordered td {
  border-top: 1px solid #ddd;
}
table.g-table.g-table-hover > tbody > tr:hover {
  background-color: #f7ebeb;
}

/* ==========================================================================
   Type
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  color: #333;
  font-weight: bold;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #903A3A;
  text-decoration: none;
}
h1 a:hover, h1 a:focus, h1 a:active, h2 a:hover, h2 a:focus, h2 a:active, h3 a:hover, h3 a:focus, h3 a:active, h4 a:hover, h4 a:focus, h4 a:active, h5 a:hover, h5 a:focus, h5 a:active, h6 a:hover, h6 a:focus, h6 a:active {
  text-decoration: none;
  color: #6c2b2b;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
  margin: 1em 0 0.5em;
}

/* ==========================================================================
   Grid System
   ========================================================================== */
.line {
  margin-left: -10px;
  margin-right: -10px;
}
.line:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
.line.margin-bottom .unit {
  position: relative;
}
.line.margin-bottom .unit:after {
  content: " ";
  width: 100%;
  height: 20px;
  bottom: 0;
  left: 0;
  display: block;
}
.line.margin-bottom .unit > .line {
  margin-bottom: -20px;
}
.line.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.line.no-gutter .unit {
  padding: 0;
}

.unit {
  float: left;
  padding: 0 10px;
  min-height: 1px;
}

*[class*="size"] {
  width: 100%;
}

@media (min-width: 921px) {
  .size1of1 {
    width: 100%;
  }

  .size1of2 {
    width: 50%;
  }

  .size1of3 {
    width: 33.333%;
  }

  .size2of3 {
    width: 66.666%;
  }

  .size1of4 {
    width: 25%;
  }

  .size2of4 {
    width: 50%;
  }

  .size3of4 {
    width: 75%;
  }

  .size1of5 {
    width: 20%;
  }

  .size2of5 {
    width: 40%;
  }

  .size3of5 {
    width: 60%;
  }

  .size4of5 {
    width: 80%;
  }

  .size1of6 {
    width: 16.6666666667%;
  }

  .size2of6 {
    width: 33.333%;
  }

  .size3of6 {
    width: 50%;
  }

  .size4of6 {
    width: 66.6666666667%;
  }

  .size5of6 {
    width: 83.333%;
  }

  .size1of7 {
    width: 14.285714%;
  }

  .size2of7 {
    width: 28.571429%;
  }

  .size3of7 {
    width: 42.857143%;
  }

  .size4of7 {
    width: 57.142857%;
  }

  .size5of7 {
    width: 71.428571%;
  }

  .size6of7 {
    width: 85.714286%;
  }

  .size1of8 {
    width: 12.5%;
  }

  .size2of8 {
    width: 25%;
  }

  .size3of8 {
    width: 37.5%;
  }

  .size4of8 {
    width: 50%;
  }

  .size5of8 {
    width: 62.5%;
  }

  .size6of8 {
    width: 75%;
  }

  .size7of8 {
    width: 87.5%;
  }
}
@media (min-width: 921px) and (max-width: 1100px) {
  .lg-size1of2 {
    width: 50%;
  }

  .lg-size1of3 {
    width: 33.333%;
  }

  .lg-size2of3 {
    width: 66.666%;
  }

  .lg-size1of4 {
    width: 25%;
  }

  .lg-size2of4 {
    width: 50%;
  }

  .lg-size3of4 {
    width: 75%;
  }

  .lg-size1of5 {
    width: 20%;
  }

  .lg-size2of5 {
    width: 40%;
  }

  .lg-size3of5 {
    width: 60%;
  }

  .lg-size4of5 {
    width: 80%;
  }

  .lg-size1of6 {
    width: 16.6666666667%;
  }

  .lg-size2of6 {
    width: 33.333%;
  }

  .lg-size3of6 {
    width: 50%;
  }

  .lg-size4of6 {
    width: 66.6666666667%;
  }

  .lg-size5of6 {
    width: 83.333%;
  }

  .size1of7 {
    width: 14.285714%;
  }

  .size2of7 {
    width: 28.571429%;
  }

  .size3of7 {
    width: 42.857143%;
  }

  .size4of7 {
    width: 57.142857%;
  }

  .size5of7 {
    width: 71.428571%;
  }

  .size6of7 {
    width: 85.714286%;
  }

  .lg-size1of8 {
    width: 12.5%;
  }

  .lg-size2of8 {
    width: 25%;
  }

  .lg-size3of8 {
    width: 37.5%;
  }

  .lg-size4of8 {
    width: 50%;
  }

  .lg-size5of8 {
    width: 62.5%;
  }

  .lg-size6of8 {
    width: 75%;
  }

  .lg-size7of8 {
    width: 87.5%;
  }
}
@media (min-width: 481px) and (max-width: 920px) {
  .sm-size1of2 {
    width: 50%;
  }

  .sm-size1of3 {
    width: 33.333%;
  }

  .sm-size2of3 {
    width: 66.666%;
  }

  .sm-size1of4 {
    width: 25%;
  }

  .sm-size2of4 {
    width: 50%;
  }

  .sm-size3of4 {
    width: 75%;
  }

  .sm-size1of5 {
    width: 20%;
  }

  .sm-size2of5 {
    width: 40%;
  }

  .sm-size3of5 {
    width: 60%;
  }

  .sm-size4of5 {
    width: 80%;
  }

  .sm-size1of6 {
    width: 16.6666666667%;
  }

  .sm-size2of6 {
    width: 33.333%;
  }

  .sm-size3of6 {
    width: 50%;
  }

  .sm-size4of6 {
    width: 66.6666666667%;
  }

  .sm-size5of6 {
    width: 83.333%;
  }

  .size1of7 {
    width: 14.285714%;
  }

  .size2of7 {
    width: 28.571429%;
  }

  .size3of7 {
    width: 42.857143%;
  }

  .size4of7 {
    width: 57.142857%;
  }

  .size5of7 {
    width: 71.428571%;
  }

  .size6of7 {
    width: 85.714286%;
  }

  .sm-size1of8 {
    width: 12.5%;
  }

  .sm-size2of8 {
    width: 25%;
  }

  .sm-size3of8 {
    width: 37.5%;
  }

  .sm-size4of8 {
    width: 50%;
  }

  .sm-size5of8 {
    width: 62.5%;
  }

  .sm-size6of8 {
    width: 75%;
  }

  .sm-size7of8 {
    width: 87.5%;
  }
}
@media (max-width: 480px) {
  .xs-size1of2 {
    width: 50%;
  }

  .xs-size1of3 {
    width: 33.333%;
  }

  .xs-size2of3 {
    width: 66.666%;
  }

  .xs-size1of4 {
    width: 25%;
  }

  .xs-size2of4 {
    width: 50%;
  }

  .xs-size3of4 {
    width: 75%;
  }

  .xs-size1of5 {
    width: 20%;
  }

  .xs-size2of5 {
    width: 40%;
  }

  .xs-size3of5 {
    width: 60%;
  }

  .xs-size4of5 {
    width: 80%;
  }

  .xs-size1of6 {
    width: 16.6666666667%;
  }

  .xs-size2of6 {
    width: 33.333%;
  }

  .xs-size3of6 {
    width: 50%;
  }

  .xs-size4of6 {
    width: 66.6666666667%;
  }

  .xs-size5of6 {
    width: 83.333%;
  }

  .size1of7 {
    width: 14.285714%;
  }

  .size2of7 {
    width: 28.571429%;
  }

  .size3of7 {
    width: 42.857143%;
  }

  .size4of7 {
    width: 57.142857%;
  }

  .size5of7 {
    width: 71.428571%;
  }

  .size6of7 {
    width: 85.714286%;
  }

  .xs-size1of8 {
    width: 12.5%;
  }

  .xs-size2of8 {
    width: 25%;
  }

  .xs-size3of8 {
    width: 37.5%;
  }

  .xs-size4of8 {
    width: 50%;
  }

  .xs-size5of8 {
    width: 62.5%;
  }

  .xs-size6of8 {
    width: 75%;
  }

  .xs-size7of8 {
    width: 87.5%;
  }
}
.line.line-sm {
  margin-left: -4px;
  margin-right: -4px;
}
.line.line-sm .line {
  margin-left: -4px;
  margin-right: -4px;
}
.line.line-sm .unit {
  padding: 0 4px;
}
.line.line-sm.margin-bottom .unit {
  position: relative;
}
.line.line-sm.margin-bottom .unit:after {
  content: " ";
  width: 100%;
  height: 8px;
  bottom: 0;
  left: 0;
  display: block;
}
.line.line-sm.margin-bottom .unit > .line {
  margin-bottom: -8px;
}

.line.line-xs {
  margin-left: 0;
  margin-right: 0;
}
.line.line-xs .line {
  margin-left: 0;
  margin-right: 0;
}
.line.line-xs .unit {
  padding: 0;
}
.line.line-xs.margin-bottom .unit:after {
  content: " ";
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  display: block;
}
.line.line-xs.margin-bottom .unit > .line {
  margin-bottom: -10px;
}

@media (max-width: 920px) {
  .line.line-sm-tablet {
    margin-left: -4px;
    margin-right: -4px;
  }
  .line.line-sm-tablet .line {
    margin-left: -4px;
    margin-right: -4px;
  }
  .line.line-sm-tablet .unit {
    padding: 0 4px;
  }
  .line.line-sm-tablet.margin-bottom .unit:after {
    content: " ";
    width: 100%;
    height: 8px;
    bottom: 0;
    left: 0;
    display: block;
  }
  .line.line-sm-tablet.margin-bottom .unit > .line {
    margin-bottom: -8px;
  }
}
@media (max-width: 480px) {
  .line.line-sm-mobile {
    margin-left: -4px;
    margin-right: -4px;
  }
  .line.line-sm-mobile .line {
    margin-left: -4px;
    margin-right: -8px;
  }
  .line.line-sm-mobile .unit {
    padding: 0 4px;
  }
  .line.line-sm-mobile.margin-bottom .unit:after {
    content: " ";
    width: 100%;
    height: 8px;
    bottom: 0;
    left: 0;
    display: block;
  }
  .line.line-sm-mobile.margin-bottom .unit > .line {
    margin-bottom: -8px;
  }
}
/* ==========================================================================
   F Grid System
   ========================================================================== */
.testing-unit-f {
  background-size: cover;
  background-position: center center;
}

.f-container {
  position: relative;
  margin-left: -5px;
  margin-right: -5px;
  height: 100%;
}
.f-container.no-gutter {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.f-container.no-gutter > div {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 480px) {
  .f-container {
    height: auto !important;
    padding-bottom: 0 !important;
  }
}
.f-container > div {
  position: absolute;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.f-container > div .f-unit {
  width: 100%;
  height: 100%;
  position: relative;
}
@media (max-width: 480px) {
  .f-container > div .f-unit.testing-unit-f {
    min-height: 100px;
  }
}
.f-container > div .f-unit > .inner {
  position: absolute;
}
@media (max-width: 480px) {
  .f-container > div {
    padding-bottom: 0;
    padding-left: 0;
    position: relative;
    width: 100% !important;
    top: 0 !important;
    left: 0 !important;
    margin-bottom: 10px;
  }
}
.f-container > div[class*="p-1"] {
  z-index: 12;
}
.f-container > div[class*="p-2"] {
  z-index: 11;
}
.f-container > div[class*="p-3"] {
  z-index: 10;
}
.f-container > div[class*="p-4"] {
  z-index: 9;
}
.f-container > div[class*="p-5"] {
  z-index: 8;
}
.f-container > div[class*="p-6"] {
  z-index: 7;
}
.f-container > div[class*="p-7"] {
  z-index: 6;
}
.f-container > div[class*="p-8"] {
  z-index: 5;
}
.f-container > div[class*="p-9"] {
  z-index: 4;
}
.f-container > div[class*="p-10"] {
  z-index: 3;
}
.f-container > div[class*="p-11"] {
  z-index: 2;
}
.f-container > div[class*="p-12"] {
  z-index: 1;
}
.f-container[class*="h-1"] {
  padding-bottom: 8.33333%;
}
.f-container[class*="h-2"] {
  padding-bottom: 16.66667%;
}
.f-container[class*="h-3"] {
  padding-bottom: 25.0%;
}
.f-container[class*="h-4"] {
  padding-bottom: 33.33333%;
}
.f-container[class*="h-5"] {
  padding-bottom: 41.66667%;
}
.f-container[class*="h-6"] {
  padding-bottom: 50.0%;
}
.f-container[class*="h-7"] {
  padding-bottom: 58.33333%;
}
.f-container[class*="h-8"] {
  padding-bottom: 66.66667%;
}
.f-container[class*="h-9"] {
  padding-bottom: 75.0%;
}
.f-container[class*="h-10"] {
  padding-bottom: 83.33333%;
}
.f-container[class*="h-11"] {
  padding-bottom: 91.66667%;
}
.f-container[class*="h-12"] {
  padding-bottom: 100.0%;
}
.f-container div[class*="h-1"] {
  height: 8.33333%;
}
.f-container div[class*="h-2"] {
  height: 16.66667%;
}
.f-container div[class*="h-3"] {
  height: 25.0%;
}
.f-container div[class*="h-4"] {
  height: 33.33333%;
}
.f-container div[class*="h-5"] {
  height: 41.66667%;
}
.f-container div[class*="h-6"] {
  height: 50.0%;
}
.f-container div[class*="h-7"] {
  height: 58.33333%;
}
.f-container div[class*="h-8"] {
  height: 66.66667%;
}
.f-container div[class*="h-9"] {
  height: 75.0%;
}
.f-container div[class*="h-10"] {
  height: 83.33333%;
}
.f-container div[class*="h-11"] {
  height: 91.66667%;
}
.f-container div[class*="h-12"] {
  height: 100.0%;
}
.f-container div[class*="w-1"] {
  width: 8.33333%;
}
.f-container div[class*="w-2"] {
  width: 16.66667%;
}
.f-container div[class*="w-3"] {
  width: 25.0%;
}
.f-container div[class*="w-4"] {
  width: 33.33333%;
}
.f-container div[class*="w-5"] {
  width: 41.66667%;
}
.f-container div[class*="w-6"] {
  width: 50.0%;
}
.f-container div[class*="w-7"] {
  width: 58.33333%;
}
.f-container div[class*="w-8"] {
  width: 66.66667%;
}
.f-container div[class*="w-9"] {
  width: 75.0%;
}
.f-container div[class*="w-10"] {
  width: 83.33333%;
}
.f-container div[class*="w-11"] {
  width: 91.66667%;
}
.f-container div[class*="w-12"] {
  width: 100.0%;
}
.f-container div[class*="t-1"] {
  top: 8.33333%;
}
.f-container div[class*="t-2"] {
  top: 16.66667%;
}
.f-container div[class*="t-3"] {
  top: 25.0%;
}
.f-container div[class*="t-4"] {
  top: 33.33333%;
}
.f-container div[class*="t-5"] {
  top: 41.66667%;
}
.f-container div[class*="t-6"] {
  top: 50.0%;
}
.f-container div[class*="t-7"] {
  top: 58.33333%;
}
.f-container div[class*="t-8"] {
  top: 66.66667%;
}
.f-container div[class*="t-9"] {
  top: 75.0%;
}
.f-container div[class*="t-10"] {
  top: 83.33333%;
}
.f-container div[class*="t-11"] {
  top: 91.66667%;
}
.f-container div[class*="t-12"] {
  top: 100.0%;
}
.f-container div[class*="l-1"] {
  left: 8.33333%;
}
.f-container div[class*="l-2"] {
  left: 16.66667%;
}
.f-container div[class*="l-3"] {
  left: 25.0%;
}
.f-container div[class*="l-4"] {
  left: 33.33333%;
}
.f-container div[class*="l-5"] {
  left: 41.66667%;
}
.f-container div[class*="l-6"] {
  left: 50.0%;
}
.f-container div[class*="l-7"] {
  left: 58.33333%;
}
.f-container div[class*="l-8"] {
  left: 66.66667%;
}
.f-container div[class*="l-9"] {
  left: 75.0%;
}
.f-container div[class*="l-10"] {
  left: 83.33333%;
}
.f-container div[class*="l-11"] {
  left: 91.66667%;
}
.f-container div[class*="l-12"] {
  left: 100.0%;
}

/* ==========================================================================
   General page layout for site
   ========================================================================== */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container:before, .container:after {
  content: ' ';
  display: table;
}
.container:after {
  clear: both;
}

main, aside.sidebar {
  padding-bottom: 4em;
}

.container.two-col main {
  width: 60%;
  float: left;
}
.container.two-col aside.sidebar {
  width: 35%;
  float: right;
}

.container.full-width aside.sidebar .sidebar-widget {
  width: 48%;
  float: left;
}
.container.full-width aside.sidebar .sidebar-widget + .sidebar-widget {
  width: 48%;
  float: right;
}
.container.full-width aside.sidebar:before, .container.full-width aside.sidebar:after {
  content: ' ';
  display: table;
}
.container.full-width aside.sidebar:after {
  clear: both;
}

/* ==========================================================================
   Global Style Guide Page --- This file is just for this testing/style guide site - NOT part pf global CSS
   ========================================================================== */
body.testing .g-container {
  position: relative;
}
body.testing .g-container .testing-body-container {
  margin-left: 200px;
}
@media (max-width: 920px) {
  body.testing .g-container .testing-body-container {
    margin-left: 0;
  }
}
body.testing .g-container .testing-sidebar {
  position: fixed;
  width: 170px;
}
body.testing .g-container .testing-sidebar ul.testing-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
}
body.testing .g-container .testing-sidebar ul.testing-menu li {
  margin: 0 3px;
}
body.testing .g-container .testing-sidebar ul.testing-menu li a {
  padding: 5px 10px;
  border-radius: 0;
  display: inline-block;
  text-decoration: none;
}
body.testing .g-container .testing-sidebar ul.testing-menu li a.active {
  text-decoration: underline;
}
@media (max-width: 920px) {
  body.testing .g-container .testing-sidebar {
    display: none;
  }
}
body.testing pre {
  padding: 12px;
  margin: 1.5em 0 4em;
  font-size: 15px;
  line-height: 1.5;
  white-space: pre;
  overflow-x: auto;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
  display: block;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-weight: normal;
}
body.testing pre xmp {
  margin: 0;
}
body.testing .testing-arrow-up {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 2000;
}
body.testing .testing-unit {
  background-color: #757575;
  height: 50px;
}

/* ==========================================================================
   Homepage Specific Styles
   ========================================================================== */
